﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.master.cs" Inherits="PlanetComm.WebManagement.Main" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>PlannetComm Integration Service</title>
    <link href="Content/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="Content/bootstrap/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        .mainwrap
        {
            background-color: #dceaf4;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            padding: 3px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form id="form1" runat="server">
        <div style="padding: 10px 5px;">
            <img src="Content/images/logo.png" />
            <a class="btn btn-small btn-primary" href="Default.aspx">Log </a><a class="btn btn-small btn-primary"
                href="SalesHeader.aspx">Order Header </a><a class="btn btn-small btn-primary" href="SalesOrderDetail.aspx">
                    Order Detail </a><a class="btn btn-small btn-primary" href="InvoiceCN.aspx">Invoice
                        & Credit Note </a><a class="btn btn-small btn-primary" href="DataLoaderLog.aspx">Data
                            Loader Log </a>
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="Admin.aspx">Admin</a></li>
                <li><a href="CrystalQuartzPanel.axd">Task Panel</a></li>
            </ul>
        </div>
        <div class="mainwrap">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        </form>
    </div>
</body>
</html>
